.vehicles img {
    max-width: 50%;
    height: auto;
}
.vehicles {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.vehicles button {
    padding: 20px;
    margin: 20px;
    color: black;
    background-color: red;
}
.button button {
    background-color: white;
    padding: 5px 20px;
}
.button {
    text-align: center;
    padding: 5px 20px;
}