* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
nav {
  background-color: #BABDBF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: #262626;
}
nav a:hover {
  text-decoration: underline;
  background-color: black;
  color: #BABDBF;
}
nav a:hover {
  text-decoration: underline;
  background-color: #595959;
  color: #BABDBF;
}