* {
    background-color: #D9D9D9;
}
form input {
    margin: 5px;
    text-align: center;
    color: white;
    background-color: white;
}
.home {
    text-align: center;
}
.home button {
    padding: 5px 20px;
    color: white;
    background-color: black;
}